<link href="assets/stylesheets/Navbar.css" rel="stylesheet" type="text/css" />
<div class="spacer"></div>
<div class="na">
<ul id="nav">
	<li class="home"><a href="#">Home</a></li>
	<li class="tutorials"><a href="#">Tutorials</a></li>
	<li class="about"><a href="#">Coding</a></li>
	<li class="news"><a href="#">WordPress</a></li>
	<li class="contact"><a href="#">Contact</a></li>
</ul>
</div>
</br>
</br>
